<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar with Background Overlay</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
    <video src="https://videos.pexels.com/video-files/6872081/6872081-uhd_3840_2160_25fps.mp4" autoplay muted loop></video>
    <div class="background-overlay">
        <nav>
            <ul class="navbar">
                <li><a href="loginpage">User</a></li>
                <li><a href="faqs">FAQs</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="contactus">Contact Us</a></li>
                {% if request.session.userid%}
                <li><a href="logout">logout</a></li>
                {%endif%}
            </ul>
            <img src="{% static 'images/logo1.png' %}" alt="Our-logo" id="logo">
        </nav>

        <div class="all-header-contents">
            <div class="header-content">
                <h1><span>Unlock Your Journey,</span><br><span> Drive Uniqueness</span></h1>
                <a href="process"><button class="btn">Take a Journey</button></a>
            </div>
        </div>
        
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Your Company. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
