<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Styled Form</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <nav class="navbar">
    <a href="/" class="nav-link"><img src="{% static 'images/pngegg-2.png' %}" alt="Home-logo" id="home-logo"></a>
    <ul class="nav-links">
        <li><a href="loginpage">User</a></li>
        <li><a href="faqs">FAQs</a></li>
        <li><a href="contactus">Contact Us</a></li>
        {% if request.session.userid %}
            <li><a href="cart">My Cart<img src="../static/images/cart1.png" alt="Cart"></a></li>
            <li><a href="logout">Logout</a></li>
        {% endif %}
    </ul>
    <img src="{% static 'images/logo1.png' %}" alt="Logo" id="logoo">
</nav>
  <div class="container">
    <div class="form">
      <form action="create" method="post">
        {% csrf_token %}
      <div class="title">Welcome</div>
      <div class="subtitle">Let's create your account!</div>
      <div class="input-container ic1">
        <input name="name" class="input" type="text" placeholder=" " required>
        <ul class="messages">
          {% for message in messages %} 
          {% if 'nameerror' in message.tags %}
          {{ message }}
          {% endif %} 
          {% endfor %}
          </ul>
        <div class="cut"></div>
        <label for="name" class="placeholder" >Name</label>
      </div>
      <div class="input-container ic2">
        <input name="pnumber" class="input" type="text" placeholder=" " required>
        <ul class="messages">
          {% for message in messages %} 
          {% if 'phoneerror' in message.tags %}
          {{ message }}
          {% endif %} 
          {% endfor %}
          </ul>
        <div class="cut"></div>
        <label for="pnumber" class="placeholder" >Phone Number</label>
      </div>
      <div class="input-container ic2">
        <input name="email" class="input" type="email" placeholder=" "  required>
        <ul class="messages">
          {% for message in messages %} 
          {% if 'emailerror' in message.tags %}
          {{ message }}
          {% endif %} 
          {% endfor %}
          </ul>
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder" >Email</label>
      </div>

      <div class="input-container ic2">
        <input type="password" name="password" class="input" placeholder=" "  required>
        <ul class="messages">
          {% for message in messages %} 
          {% if 'passworderror' in message.tags %}
          {{ message }}
          {% endif %} 
          {% endfor %}
          </ul>
        <div class="cut cut-short"></div>
        <label for="Password" class="placeholder" >password</label>
      </div>

      <div class="input-container ic2">
        <input type="password" name="cpassword" class="input" placeholder=" "  required>
        <ul class="messages">
          {% for message in messages %} 
          {% if 'cpassworderror' in message.tags %}
          {{ message }}
          {% endif %} 
          {% endfor %}
          </ul>
        <div class="cut cut-short"></div>
        <label for="cPassword" class="placeholder" >Confirm password</label>
      </div>



      <button type="text" class="submit">submit</button>
    </form>
    </div>
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>

</body>
</html>
